html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }
    a.dotted:hover {
      color: #969696; }

h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h1 {
      font-size: 4.7em; } }
  @media (max-width: 1440px) {
    h1 {
      font-size: 5em; } }
  @media (max-width: 1285px) {
    h1 {
      font-size: 4em; } }

h2 {
  font-size: 2em;
  line-height: 1.7em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h2 {
      font-size: 2.7em; } }
  @media (max-width: 1440px) {
    h2 {
      font-size: 3em; } }
  @media (max-width: 1285px) {
    h2 {
      font-size: 2em;
      line-height: 1.7em;
      font-weight: bold; } }

h3 {
  font-size: 1.6em;
  line-height: 1.7em;
  font-weight: bold; }

p {
  font-size: 1.6em;
  line-height: 1.9em;
  padding-bottom: 1em; }

/* ======== HEADER ======== */
.logo {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #ffffff; }

/* ======== Footer ======== */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 1024px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

.weirdo-container {
  margin-bottom: 250px;
  display: table;
  width: 100%; }
  .weirdo-container .weirdo-left, .weirdo-container .weirdo-right {
    display: table-cell;
    vertical-align: top; }
  .weirdo-container .weirdo-right-inner {
    padding-top: 7px;
    padding-left: 40px; }
    .weirdo-container .weirdo-right-inner h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5em;
      margin-left: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li > a {
      text-decoration: none; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li + li:before {
      padding: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb {
      background: none;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li {
        color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li.active {
        color: #faa619;
        text-decoration: underline; }
    .weirdo-container .weirdo-right-inner .numbers-table {
      display: table; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row {
        display: table-row; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row > div {
        padding-top: 10px; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row.last-row > div {
        padding-top: 70px; }
      .weirdo-container .weirdo-right-inner .numbers-table .number-left {
        display: table-cell;
        font-size: 20px;
        font-weight: 600;
        color: #faa619;
        min-width: 100px; }
      .weirdo-container .weirdo-right-inner .numbers-table .caption-right {
        display: table-cell;
        font-size: 1.5em;
        padding-left: 1em; }
        .weirdo-container .weirdo-right-inner .numbers-table .caption-right span {
          color: #ccc; }
  .weirdo-container .control-img-container {
    overflow: hidden;
    position: relative; }
  .weirdo-container .control-img {
    width: 100%;
    height: 100%; }
  .weirdo-container .frame-container {
    margin-top: 10px; }
  .weirdo-container .img-frame {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .weirdo-container .img-frame-overlay {
    outline: 999px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
    background: transparent;
    border: 1px dashed white; }
  .weirdo-container .preload-container {
    overflow: hidden; }
  .weirdo-container .right {
    float: right; }
  .weirdo-container .left {
    float: left;
    text-align: right;
    padding-right: 7px; }
    .weirdo-container .left .caption {
      font-style: italic;
      color: #58595b; }
    .weirdo-container .left .number {
      font-size: 20px;
      font-weight: 600;
      color: #faa619; }
  .weirdo-container .chart-container {
    padding-top: 20px; }
  .weirdo-container .chart-svg-container {
    overflow: visible; }
  .weirdo-container .chart-left, .weirdo-container .top-axis-left {
    height: 1px;
    display: block; }
  .weirdo-container div.vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }
  .weirdo-container svg, .weirdo-container text {
    font-family: "Open Sans", sans-serif; }
  .weirdo-container svg text {
    fill: #58595b;
    stroke: none;
    font-style: italic; }
  .weirdo-container svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .weirdo-container svg .axis path {
      display: none; }
    .weirdo-container svg .axis--x text {
      text-anchor: start; }
    .weirdo-container svg .tick line {
      stroke: #58595b;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2; }
    .weirdo-container svg .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      shape-rendering: auto; }
    .weirdo-container svg .line-right {
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-left {
      stroke: #faa619; }
    .weirdo-container svg .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-declared {
      stroke: #faa619;
      stroke-width: 2.5px; }
    .weirdo-container svg path.line-annotation, .weirdo-container svg #arrowhead {
      stroke: #8c9494;
      stroke-opacity: 0.87;
      fill: none;
      shape-rendering: auto; }
    .weirdo-container svg circle {
      fill: #8c9494;
      fill-opacity: 0.87;
      shape-rendering: auto; }
    .weirdo-container svg .area-left {
      fill: #faa619;
      fill-opacity: 0.5; }
    .weirdo-container svg .area-right {
      fill: #faa619;
      fill-opacity: 0.3; }
    .weirdo-container svg .area-dashed {
      fill: #8c9494;
      fill-opacity: 0.1; }
  .weirdo-container svg.svg-frame-overlay path {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: auto; }
  .weirdo-container .top-axis-container {
    margin-top: 6px; }
  .weirdo-container .top-axis-left .caption {
    margin-top: -8px; }
  .weirdo-container svg.top-axis {
    overflow: visible; }
    .weirdo-container svg.top-axis text {
      text-anchor: start; }
    .weirdo-container svg.top-axis path, .weirdo-container svg.top-axis line {
      fill: none;
      stroke: none; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  height: 100vh;
  margin-top: 0; }

h3 {
  text-align: left;
  color: white;
  padding-top: 20vw;
  padding-bottom: 5vw;
  font-size: 5vw; }

h1 {
  text-align: left;
  color: grey;
  font-size: 2.0vw; }

h2 {
  font-size: 2.0em;
  margin-left: 10%; }

.subtitle {
  color: grey;
  width: auto;
  line-height: 1.5em;
  margin-left: 0;
  padding-top: 2vw;
  font-size: 1.5vw; }

.subtitlemob {
  color: white;
  width: auto;
  line-height: 1.5em;
  margin-left: 0;
  font-size: 3.3vw;
  padding-bottom: 8vw; }

h4 {
  color: white; }

h5 {
  font-size: 2.5vw;
  color: white;
  line-height: 1.5em; }

h6 {
  font-size: 1.0vw;
  color: grey;
  line-height: 1.7em; }

.header {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 35vw; }

.mobheader {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 65vh; }

@media (min-width: 1281px) {
  .header {
    background-color: #f0f0f0; } }
@media (min-width: 768px) and (max-width: 1280px) {
  .header {
    background-color: #f0f0f0; } }
@media (min-width: 320px) and (max-width: 767px) {
  .mobheader {
    margin-top: -7%; } }
.overlay {
  width: 100%;
  height: 100%;
  color: black;
  opacity: 0.5; }

.header-text {
  position: relative;
  margin-left: 20%;
  margin-right: 10%;
  padding-top: 5%; }

@media (max-width: 800px) {
  #header-text {
    margin-left: 8%;
    margin-right: 2%;
    top: 12%; } }
.first-paragraph {
  margin-top: 130vh; }

.svg-container {
  opacity: 1;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2; }

.svgmap {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  min-width: 1279px;
  min-height: 696px;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%); }

.animation-explainer {
  color: #fff; }

.credits {
  line-height: 1.5em;
  font-weight: 300; }
  .credits span {
    font-weight: 700; }
  .credits.date {
    margin-top: 1em;
    font-size: 1.0em;
    font-weight: 300; }
  @media (max-width: 2570px) {
    .credits {
      font-size: 1.8em; } }
  @media (max-width: 1440px) {
    .credits {
      font-size: 1.6em; } }
  @media (max-width: 1285px) {
    .credits {
      font-size: 1.4em; } }

@media (max-width: 2570px) {
  p {
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%; } }
@media (max-width: 1440px) {
  p {
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%; } }
@media (max-width: 1285px) {
  p {
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%; } }
@media (max-width: 767px) {
  p {
    font-size: 1.5em;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%; } }

.animation-explainer p {
  color: #fff;
  margin-bottom: 100vh; }

.animation-explainer span {
  background: rgba(221, 197, 188, 0.5); }
  @media (max-width: 2570px) {
    .animation-explainer span {
      font-size: 2em; } }
  @media (max-width: 1440px) {
    .animation-explainer span {
      font-size: 1.7em; } }
  @media (max-width: 1285px) {
    .animation-explainer span {
      font-size: 1.3em; } }

.animation h2 {
  color: #fff; }

.quote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vh;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #B78979; }
  .quote::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em; }
    @media (max-width: 767px) {
      .quote::before {
        font-size: 7em; } }

.disclaimer {
  font-size: 1.3em;
  color: #eee;
  margin-top: 68px;
  margin-left: 15px; }

.sources {
  color: #BBC0BF;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 1.1em; }

.directSpeach {
  font-style: italic; }

.new-section {
  margin-top: 5%; }

@media only screen and (min-width: 768px) {
  .mobile {
    display: none !important;
    padding-top: 0; }

  .desktop {
    display: block !important; } }
@media only screen and (max-width: 767px) {
  .mobile {
    display: block !important; }

  .desktop {
    display: none !important; } }
.read-more {
  margin-bottom: 15px; }

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: #58595b; }

.carousel-control.right {
  background-image: none; }

.carousel-control.left {
  background-image: none;
  margin-left: -5%; }

ol.carousel-indicators {
  color: black; }

p.caption {
  font-size: 1.1em;
  text-align: right;
  font-style: italic;
  margin-top: 50px; }

#video-player {
  height: 25vw; }

.first {
  margin-top: 20px; }

.small {
  font-size: 1.2em; }

.hsmall {
  font-size: 1.4em; }

h2 span {
  background-color: #f0f0f0; }

.mobvideo.header-video {
  position: absolute;
  width: 100%;
  height: 65vh; }

.toarticle {
  font-weight: bolder;
  font-size: 1.7em;
  padding-top: 30px; }

.toarticle span {
  background-color: #f0f0f0; }

.lid {
  font-style: italic; }
  @media (max-width: 2570px) {
    .lid {
      width: 45%;
      margin-left: 15%;
      margin-right: 5%; } }
  @media (max-width: 767px) {
    .lid {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }

.zag {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px; }
  @media (max-width: 2570px) {
    .zag {
      width: 50%; } }
  @media (max-width: 767px) {
    .zag {
      width: 90%; } }

@media (max-width: 767px) {
  .carousel {
    margin-right: 5%; } }

.mobgif {
  position: relative;
  width: 100%;
  height: 65vh; }

/*# sourceMappingURL=application.css.map */
