html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }
    a.dotted:hover {
      color: #969696; }

h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h1 {
      font-size: 4.7em; } }
  @media (max-width: 1440px) {
    h1 {
      font-size: 5em; } }
  @media (max-width: 1285px) {
    h1 {
      font-size: 4em; } }

h2 {
  font-size: 2em;
  line-height: 1.7em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h2 {
      font-size: 2.7em; } }
  @media (max-width: 1440px) {
    h2 {
      font-size: 3em; } }
  @media (max-width: 1285px) {
    h2 {
      font-size: 2em;
      line-height: 1.7em;
      font-weight: bold; } }

h3 {
  font-size: 1.6em;
  line-height: 1.7em;
  font-weight: bold; }

p {
  font-size: 1.6em;
  line-height: 1.9em;
  padding-bottom: 1em; }

/* ======== HEADER ======== */
.logo {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000;
  right: 15px; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #ffffff; }

.header-container.desktop {
  background-color: #f0f0f0;
  color: #383e47; }
  .header-container.desktop h1 {
    text-align: left;
    font-size: 2.7em; }
  .header-container.desktop h2 {
    font-size: 2.0em;
    margin-left: 10%; }
  .header-container.desktop p.subtitle {
    width: auto;
    line-height: 1.7em;
    margin-left: 0;
    padding-top: 2vw;
    font-size: 1.7em;
    font-weight: 300; }
  .header-container.desktop .credits {
    line-height: 1.5em;
    font-weight: 300; }
    .header-container.desktop .credits h6 {
      font-size: 1.2em;
      line-height: 1.5em; }
    .header-container.desktop .credits span {
      font-weight: 700; }
    .header-container.desktop .credits.date {
      margin-top: 1em;
      font-size: 1.0em;
      font-weight: 300; }
  .header-container.desktop .header {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 35vw; }
  .header-container.desktop .header-text {
    position: relative;
    padding-top: 5%; }
  .header-container.desktop video {
    margin-top: 20px;
    height: 25vw;
    padding: 0;
    min-width: 250px;
    object-fit: cover; }

.header-container.mobile {
  color: #fff;
  max-height: 100vw;
  overflow: hidden;
  position: relative; }
  .header-container.mobile video {
    position: relative;
    width: 100%; }
  .header-container.mobile .header-text-container {
    margin-top: 12vw;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px; }
  .header-container.mobile h3 {
    text-align: left;
    padding-bottom: 5vw;
    font-size: 5vw; }
    .header-container.mobile h3 span.myglitch {
      color: white;
      position: relative; }
@keyframes myglitch-anim-1 {
  0% {
    clip: rect(46px, 450px, 89px, 0); }
  2.12766% {
    clip: rect(8px, 450px, 107px, 0); }
  4.25532% {
    clip: rect(42px, 450px, 12px, 0); }
  6.38298% {
    clip: rect(57px, 450px, 105px, 0); }
  8.51064% {
    clip: rect(110px, 450px, 75px, 0); }
  10.6383% {
    clip: rect(103px, 450px, 97px, 0); }
  12.76596% {
    clip: rect(26px, 450px, 69px, 0); }
  14.89362% {
    clip: rect(61px, 450px, 14px, 0); }
  17.02128% {
    clip: rect(110px, 450px, 51px, 0); }
  19.14894% {
    clip: rect(20px, 450px, 6px, 0); }
  21.2766% {
    clip: rect(28px, 450px, 52px, 0); }
  23.40426% {
    clip: rect(77px, 450px, 104px, 0); }
  25.53191% {
    clip: rect(34px, 450px, 101px, 0); }
  27.65957% {
    clip: rect(56px, 450px, 40px, 0); }
  29.78723% {
    clip: rect(23px, 450px, 76px, 0); }
  31.91489% {
    clip: rect(68px, 450px, 60px, 0); }
  34.04255% {
    clip: rect(6px, 450px, 96px, 0); }
  36.17021% {
    clip: rect(12px, 450px, 13px, 0); }
  38.29787% {
    clip: rect(110px, 450px, 39px, 0); }
  40.42553% {
    clip: rect(4px, 450px, 48px, 0); }
  42.55319% {
    clip: rect(82px, 450px, 106px, 0); }
  44.68085% {
    clip: rect(60px, 450px, 44px, 0); }
  46.80851% {
    clip: rect(28px, 450px, 57px, 0); }
  48.93617% {
    clip: rect(1px, 450px, 108px, 0); }
  51.06383% {
    clip: rect(85px, 450px, 115px, 0); }
  53.19149% {
    clip: rect(18px, 450px, 29px, 0); }
  55.31915% {
    clip: rect(110px, 450px, 44px, 0); }
  57.44681% {
    clip: rect(75px, 450px, 5px, 0); }
  59.57447% {
    clip: rect(66px, 450px, 46px, 0); }
  61.70213% {
    clip: rect(96px, 450px, 68px, 0); }
  63.82979% {
    clip: rect(39px, 450px, 25px, 0); }
  65.95745% {
    clip: rect(16px, 450px, 72px, 0); }
  68.08511% {
    clip: rect(70px, 450px, 84px, 0); }
  70.21277% {
    clip: rect(90px, 450px, 5px, 0); }
  72.34043% {
    clip: rect(20px, 450px, 67px, 0); }
  74.46809% {
    clip: rect(107px, 450px, 69px, 0); }
  76.59574% {
    clip: rect(24px, 450px, 46px, 0); }
  78.7234% {
    clip: rect(31px, 450px, 56px, 0); }
  80.85106% {
    clip: rect(22px, 450px, 4px, 0); }
  82.97872% {
    clip: rect(19px, 450px, 79px, 0); }
  85.10638% {
    clip: rect(51px, 450px, 10px, 0); }
  87.23404% {
    clip: rect(114px, 450px, 90px, 0); }
  89.3617% {
    clip: rect(36px, 450px, 10px, 0); }
  91.48936% {
    clip: rect(89px, 450px, 52px, 0); }
  93.61702% {
    clip: rect(92px, 450px, 18px, 0); }
  95.74468% {
    clip: rect(24px, 450px, 52px, 0); }
  97.87234% {
    clip: rect(5px, 450px, 67px, 0); }
  100% {
    clip: rect(91px, 450px, 60px, 0); } }
@keyframes myglitch-anim-2 {
  0% {
    clip: rect(46px, 450px, 43px, 0); }
  2.12766% {
    clip: rect(113px, 450px, 109px, 0); }
  4.25532% {
    clip: rect(40px, 450px, 86px, 0); }
  6.38298% {
    clip: rect(72px, 450px, 22px, 0); }
  8.51064% {
    clip: rect(54px, 450px, 66px, 0); }
  10.6383% {
    clip: rect(109px, 450px, 89px, 0); }
  12.76596% {
    clip: rect(98px, 450px, 40px, 0); }
  14.89362% {
    clip: rect(74px, 450px, 76px, 0); }
  17.02128% {
    clip: rect(11px, 450px, 113px, 0); }
  19.14894% {
    clip: rect(89px, 450px, 4px, 0); }
  21.2766% {
    clip: rect(81px, 450px, 68px, 0); }
  23.40426% {
    clip: rect(23px, 450px, 113px, 0); }
  25.53191% {
    clip: rect(74px, 450px, 27px, 0); }
  27.65957% {
    clip: rect(1px, 450px, 60px, 0); }
  29.78723% {
    clip: rect(77px, 450px, 48px, 0); }
  31.91489% {
    clip: rect(42px, 450px, 62px, 0); }
  34.04255% {
    clip: rect(17px, 450px, 32px, 0); }
  36.17021% {
    clip: rect(97px, 450px, 70px, 0); }
  38.29787% {
    clip: rect(96px, 450px, 11px, 0); }
  40.42553% {
    clip: rect(55px, 450px, 59px, 0); }
  42.55319% {
    clip: rect(55px, 450px, 103px, 0); }
  44.68085% {
    clip: rect(31px, 450px, 53px, 0); }
  46.80851% {
    clip: rect(96px, 450px, 31px, 0); }
  48.93617% {
    clip: rect(27px, 450px, 87px, 0); }
  51.06383% {
    clip: rect(42px, 450px, 52px, 0); }
  53.19149% {
    clip: rect(101px, 450px, 43px, 0); }
  55.31915% {
    clip: rect(5px, 450px, 25px, 0); }
  57.44681% {
    clip: rect(103px, 450px, 21px, 0); }
  59.57447% {
    clip: rect(99px, 450px, 91px, 0); }
  61.70213% {
    clip: rect(55px, 450px, 31px, 0); }
  63.82979% {
    clip: rect(9px, 450px, 100px, 0); }
  65.95745% {
    clip: rect(11px, 450px, 78px, 0); }
  68.08511% {
    clip: rect(6px, 450px, 72px, 0); }
  70.21277% {
    clip: rect(49px, 450px, 5px, 0); }
  72.34043% {
    clip: rect(67px, 450px, 38px, 0); }
  74.46809% {
    clip: rect(44px, 450px, 14px, 0); }
  76.59574% {
    clip: rect(36px, 450px, 101px, 0); }
  78.7234% {
    clip: rect(68px, 450px, 84px, 0); }
  80.85106% {
    clip: rect(11px, 450px, 28px, 0); }
  82.97872% {
    clip: rect(47px, 450px, 56px, 0); }
  85.10638% {
    clip: rect(90px, 450px, 62px, 0); }
  87.23404% {
    clip: rect(32px, 450px, 98px, 0); }
  89.3617% {
    clip: rect(102px, 450px, 46px, 0); }
  91.48936% {
    clip: rect(82px, 450px, 77px, 0); }
  93.61702% {
    clip: rect(18px, 450px, 41px, 0); }
  95.74468% {
    clip: rect(113px, 450px, 72px, 0); }
  97.87234% {
    clip: rect(57px, 450px, 66px, 0); }
  100% {
    clip: rect(83px, 450px, 101px, 0); } }
      .header-container.mobile h3 span.myglitch:before, .header-container.mobile h3 span.myglitch:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.25);
        clip: rect(0, 0, 0, 0); }
      .header-container.mobile h3 span.myglitch:after {
        left: 2px;
        text-shadow: -1px 0 red;
        animation: myglitch-anim-1 2s infinite linear alternate-reverse; }
      .header-container.mobile h3 span.myglitch:before {
        left: -2px;
        text-shadow: 2px 0 blue;
        animation: myglitch-anim-2 3s infinite linear alternate-reverse; }
  .header-container.mobile p.subtitle {
    font-size: 3.3vw;
    padding-bottom: 8vw; }
  .header-container.mobile .credits h6 {
    font-size: 2.5vw;
    line-height: 1.5em; }

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px; }

/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
/* ======== Footer ======== */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block;
  margin-top: 200px; }
  #footer h4 {
    color: white; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 1024px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

.display-table {
  display: table; }

.display-row {
  display: table-row; }

.display-cell {
  display: table-cell; }

.vertical-top {
  vertical-align: top; }

.chart-cell {
  vertical-align: bottom; }

.cell2 {
  padding-left: 35px; }

.middle .cell2 {
  padding-left: 20px; }

.parking-description {
  padding-left: 20px;
  position: relative; }
  .parking-description h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2.5em;
    margin-left: 0; }
  .parking-description div.address {
    color: #ccc;
    font-size: 1.5em;
    margin-bottom: 18px;
    margin-top: -5px; }
  .parking-description .breadcrumb > li > a {
    text-decoration: underline; }
  .parking-description .breadcrumb > li + li:before {
    padding: 10px; }
  .parking-description ul.breadcrumb {
    background: none;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.5em;
    color: #58595b; }
    .parking-description ul.breadcrumb li:focus a, .parking-description ul.breadcrumb li:hover a {
      color: #58595b; }
    .parking-description ul.breadcrumb li.active a {
      color: #faa619; }
  .parking-description .numbers-table .number-left {
    font-size: 20px;
    font-weight: 600;
    color: #faa619;
    min-width: 100px; }
  .parking-description .numbers-table .caption-right {
    font-size: 1.5em; }
    .parking-description .numbers-table .caption-right span {
      color: #ccc; }
  .parking-description .numbers-table .middle .caption-right {
    padding-left: 0; }
  .parking-description .parking-mini-map {
    position: relative;
    margin-top: 10px; }
    .parking-description .parking-mini-map .map-point {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: #faa619;
      position: absolute;
      top: 0;
      margin-left: -5px;
      margin-top: -5px;
      cursor: pointer; }
    .parking-description .parking-mini-map .map-point.active {
      border: 4px solid #fff;
      padding: 4px;
      margin-left: -9px;
      margin-top: -9px; }
    .parking-description .parking-mini-map .minimap-annotation {
      padding-left: 10px; }

.middle .parking-description {
  padding-left: 5px; }
  .middle .parking-description .numbers-table .number-left {
    font-size: 20px;
    font-weight: 600;
    color: #faa619;
    min-width: 100px; }
  .middle .parking-description .numbers-table .caption-right {
    font-size: 1.5em; }
    .middle .parking-description .numbers-table .caption-right span {
      color: #ccc; }
  .middle .parking-description .numbers-table .caption-right {
    padding-left: 0; }

.frame-container {
  position: relative; }
  .frame-container .frame, .frame-container .first-frame {
    position: absolute;
    left: 0;
    top: 0; }
  .frame-container svg.svg-frame-overlay {
    position: absolute;
    left: 0;
    top: 0; }
    .frame-container svg.svg-frame-overlay path {
      stroke: white;
      stroke-width: 2px;
      shape-rendering: auto; }

.control-container {
  padding-top: 10px; }
  .control-container .control-img-container {
    position: relative; }
  .control-container .vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }

.chart-container svg, .chart-container text, .control-axis svg, .control-axis text {
  font-family: "Open Sans", sans-serif; }
.chart-container svg text, .control-axis svg text {
  fill: #58595b;
  stroke: none;
  font-style: italic; }
.chart-container svg, .control-axis svg {
  display: block;
  overflow: visible;
  shape-rendering: crispEdges; }
  .chart-container svg .axis path, .control-axis svg .axis path {
    display: none; }
  .chart-container svg .axis--x text, .control-axis svg .axis--x text {
    text-anchor: start; }
  .chart-container svg .tick line, .control-axis svg .tick line {
    stroke: #58595b;
    opacity: .3;
    stroke-width: 1;
    stroke-dasharray: 2,2; }
  .chart-container svg .line, .control-axis svg .line {
    fill: none;
    stroke-width: 1.5px;
    stroke-linecap: round;
    shape-rendering: auto; }
  .chart-container svg .line-right, .control-axis svg .line-right {
    stroke: #8c9494;
    stroke-opacity: 0.87; }
  .chart-container svg .line-left, .control-axis svg .line-left {
    stroke: #faa619; }
  .chart-container svg .line-dashed, .control-axis svg .line-dashed {
    stroke-dasharray: 2, 4;
    stroke-width: 2px;
    stroke: #8c9494;
    stroke-opacity: 0.87; }
  .chart-container svg .line-declared, .control-axis svg .line-declared {
    stroke: #faa619;
    stroke-width: 2.5px; }
  .chart-container svg path.line-annotation, .chart-container svg #arrowhead, .control-axis svg path.line-annotation, .control-axis svg #arrowhead {
    stroke: #8c9494;
    stroke-opacity: 0.87;
    fill: none;
    shape-rendering: auto; }
  .chart-container svg circle, .control-axis svg circle {
    fill: #8c9494;
    fill-opacity: 0.87;
    shape-rendering: auto; }
  .chart-container svg .area-left, .control-axis svg .area-left {
    fill: #faa619;
    fill-opacity: 0.5; }
  .chart-container svg .area-right, .control-axis svg .area-right {
    fill: #faa619;
    fill-opacity: 0.3; }
  .chart-container svg .area-dashed, .control-axis svg .area-dashed {
    fill: #8c9494;
    fill-opacity: 0.1; }
.chart-container svg.svg-frame-overlay path, .control-axis svg.svg-frame-overlay path {
  stroke: white;
  stroke-width: 2px;
  shape-rendering: auto; }
.chart-container .top-axis-container, .control-axis .top-axis-container {
  margin-top: 6px; }
.chart-container .top-axis-left .caption, .control-axis .top-axis-left .caption {
  margin-top: -8px; }
.chart-container svg.top-axis, .control-axis svg.top-axis {
  overflow: visible; }
  .chart-container svg.top-axis text, .control-axis svg.top-axis text {
    text-anchor: start; }
  .chart-container svg.top-axis path, .chart-container svg.top-axis line, .control-axis svg.top-axis path, .control-axis svg.top-axis line {
    fill: none;
    stroke: none; }

#arrowhead {
  stroke: #8c9494;
  stroke-opacity: 0.87;
  fill: none;
  shape-rendering: auto; }

body {
  height: 100vh;
  margin-top: 0;
  color: #383e47; }

p {
  font-size: 1.6em; }

.quote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vh;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #B78979; }
  .quote::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em; }
    @media (max-width: 767px) {
      .quote::before {
        font-size: 7em; } }

.disclaimer {
  font-size: 1.3em;
  color: #eee;
  margin-top: 68px;
  margin-left: 15px; }

.sources {
  color: #BBC0BF;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 1.1em; }

.directSpeach {
  font-style: italic; }

.new-section {
  margin-top: 5%; }

@media only screen and (min-width: 800px) {
  .mobile {
    display: none !important;
    padding-top: 0; }

  .desktop {
    display: block !important; } }
@media only screen and (max-width: 799px) {
  .mobile {
    display: block !important; }

  .desktop {
    display: none !important; } }
.read-more {
  margin-bottom: 15px; }

.mobile p.caption {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 0; }

.main-text {
  margin-top: 20px; }

.small {
  font-size: 1.2em; }

.hsmall {
  font-size: 1.4em; }

h2 span {
  background-color: #f0f0f0; }

.toarticle {
  font-weight: bolder;
  font-size: 1.7em;
  padding-top: 30px; }

.toarticle span {
  background-color: #f0f0f0; }

.mobgif {
  position: relative;
  width: 100%; }

.tab {
  margin-bottom: 60px; }

.parking-group {
  margin-top: 200px; }

.parking-group:first-child {
  margin-top: 20px; }

/*# sourceMappingURL=application.css.map */
