// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    height: 100vh;
    margin-top: 0;
}

h1 {
  text-align: left;
  margin-bottom: 40px;
  color: white;

  @media #{$brk-xlarge} {
    font-size: 3.4em;
    padding-top: 2%;
  }

  @media #{$brk-large} {
    font-size: 3.4em;
    padding-top: 2%;
  }


  @media #{$brk-medium} {
    font-size: 3.2em;
    padding-top: 5%;
  }

  @media #{$brk-narrow} {
    font-size: 3.2em;
    padding-top: 5%;

  }

  @media #{$brk-spnarrow} {
  font-size: 2.6em;
    padding-top: 1%;

  }
}

h2 {
  margin-left: 10%;

}

h4 {
  color: white;
}

h5 {
  font-size: 0.7em;
  color: white;
}

.header {
  position: relative;
  margin-top: 0;
  width: 100%;
}


  @media (min-width: 1281px) {
    .header {
      background-color: grey;
      height: 450px;
    }
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    .header {
      background-color: grey;
      height: 450px;
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .header {
    background-image: url('../img/62.jpg');
    height: 350px;
    margin-top: -7%;
  }

}

.overlay {
  width: 100%;
  height: 100%;
  background:black;
  opacity:0.5;


}

#header-text {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;



}
@media (max-width: 800px) {
  #header-text {

    margin-left: 8%;
    margin-right: 2%;
    top: 12%;}
}


.first-paragraph {
    margin-top:130vh;
}





.svg-container {
  opacity: 1;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2;
}






.svgmap { 
    position: fixed;
    top: 50%;
    left: 50%;
    height:100%;
    width:100%;
    min-width: 1279px;
    min-height: 696px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}


.animation-explainer {
  color:#fff;
}


.credits {
  line-height: 1.5em;
  font-weight:300;
  & span {
    font-weight: 700;
  }
  &.date {
    margin-top:1em;
    font-size:1.0em;
    font-weight:300;
  }
   @media #{$brk-xlarge} {
    font-size:1.8em;
  }
  @media #{$brk-large} {
    font-size:1.6em;
  }
  @media #{$brk-medium} {
    font-size: 1.4em;
  }
}

p {
  margin-left: 5%;

  @media #{$brk-xlarge} {
    font-size:1.5em;
    width: 50%;
  }
  @media #{$brk-large} {
    font-size:1.5em;
    width: 50%;
  }
  @media #{$brk-medium} {
    font-size: 1.5em;
    width: 50%;
  }
  @media #{$brk-spnarrow} {
    font-size: 1.5em;
    width: 90%;
    margin-right: 5%;
  }

}






.animation-explainer p {
  color:#fff;
  margin-bottom: 100vh;
}

.animation-explainer span {
    background: rgba(221,197,188, 0.5);
    @media #{$brk-xlarge} {
    font-size:2em;
    }
    @media #{$brk-large} {
      font-size:1.7em;
    }
    @media #{$brk-medium} {
      font-size: 1.3em;
  }
  }


.animation h2 {
  color: #fff;
}

.quote {
  margin-top:1em;
  margin-bottom:1em;
  font-size: 3vh;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #B78979;
  &::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }
}

.disclaimer {
  font-size: 1.3em;
  color: #eee;
  margin-top: 68px;
  margin-left: 15px;
}

.sources {
  color: #BBC0BF;
  margin-top:0.5em;
  margin-bottom:2em;
  font-size: 1.1em;
}

.directSpeach {
  font-style: italic;
}



.new-section {
  margin-top: 5%;
}



@media only screen and (min-width:768px) {
  .mobile {
    display:none !important;
    padding-top: 0;
  }

  .desktop {
    display:block !important;
  }
}

//small screen sizes
@media only screen and (max-width: 767px) {
  .mobile {
    display:block !important;
  }

  .desktop {
    display:none !important;
  }
}

.read-more {
  margin-bottom: 15px;
}


.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
   opacity: 0;
   pointer-events: none;
   width: 5px;
}

.glyphicon-chevron-right:before {
  content: ">";
  color: black;
}

.glyphicon-chevron-left:before {
  content: "<";
  color: black;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
  margin-left: -5%;
}

ol.carousel-indicators {
  color: black;
}

.caption {
  font-size: 1.1em;
  text-align: right;
  font-style: italic;
  margin-top: 80px;
}

#video-player {
  height: 335px;
}







