// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/table-layout";
@import "components/parking_description";
@import "components/frame";
@import "components/control";
@import "components/chart";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    height: 100vh;
    margin-top: 0;
}

h3 {
  text-align: left;
  color: white;
  padding-top: 12vw;
  padding-bottom: 5vw;
  font-size: 5vw;
}

h1 {
  text-align: left;
  color: grey;
  font-size: 2.0vw;
}



h2 {
  font-size: 2.0em;
  margin-left: 10%;

}

.subtitle {
  color: grey;
  width: auto;
  line-height: 1.5em;
  margin-left: 0;
  padding-top: 2vw;
  font-size: 1.5vw;
}


.subtitlemob {
  color: white;
  width: auto;
  line-height: 1.5em;
  margin-left: 0;
  font-size: 3.3vw;
  padding-bottom: 8vw;

}

h4 {
  color: white;
}

h5 {
  font-size: 2.5vw;
  color: white;
  line-height: 1.5em;
}

h6 {
  font-size: 1.0vw;
  color: grey;
  line-height: 1.7em;

}

.header {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 35vw;
}

.mobheader {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 65vh;

}


  @media (min-width: 1281px) {
    .header {
      background-color: #f0f0f0;
      //height: 450px;
    }
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    .header {
      background-color: #f0f0f0;

    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .mobheader {
    margin-top: -7%;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  color:black;
  opacity:0.5;

}

.header-text {
  position: relative;
  margin-left: 20%;
  margin-right: 10%;
  padding-top: 5%;



}
@media (max-width: 800px) {
  #header-text {

    margin-left: 8%;
    margin-right: 2%;
    top: 12%;}
}


.first-paragraph {
    margin-top:130vh;
}





.svg-container {
  opacity: 1;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2;
}






.svgmap { 
    position: fixed;
    top: 50%;
    left: 50%;
    height:100%;
    width:100%;
    min-width: 1279px;
    min-height: 696px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}


.animation-explainer {
  color:#fff;
}


.credits {
  line-height: 1.5em;
  font-weight:300;
  & span {
    font-weight: 700;
  }
  &.date {
    margin-top:1em;
    font-size:1.0em;
    font-weight:300;
  }
   @media #{$brk-xlarge} {
    font-size:1.8em;
  }
  @media #{$brk-large} {
    font-size:1.6em;
  }
  @media #{$brk-medium} {
    font-size: 1.4em;
  }
}

p {


  @media #{$brk-xlarge} {
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%
  }
  @media #{$brk-large} {
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%
  }
  @media #{$brk-medium} {
    font-size: 1.5em;
    width: 50%;
    margin-left: 25%
  }
  @media #{$brk-spnarrow} {
    font-size: 1.5em;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }

}

.animation-explainer p {
  color:#fff;
  margin-bottom: 100vh;
}

.animation-explainer span {
    background: rgba(221,197,188, 0.5);
    @media #{$brk-xlarge} {
    font-size:2em;
    }
    @media #{$brk-large} {
      font-size:1.7em;
    }
    @media #{$brk-medium} {
      font-size: 1.3em;
  }
  }


.animation h2 {
  color: #fff;
}

.quote {
  margin-top:1em;
  margin-bottom:1em;
  font-size: 3vh;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #B78979;
  &::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }
}

.disclaimer {
  font-size: 1.3em;
  color: #eee;
  margin-top: 68px;
  margin-left: 15px;
}

.sources {
  color: #BBC0BF;
  margin-top:0.5em;
  margin-bottom:2em;
  font-size: 1.1em;
}

.directSpeach {
  font-style: italic;
}



.new-section {
  margin-top: 5%;
}



@media only screen and (min-width:768px) {
  .mobile {
    display:none !important;
    padding-top: 0;
  }

  .desktop {
    display:block !important;
  }
}

//small screen sizes
@media only screen and (max-width: 767px) {
  .mobile {
    display:block !important;
  }

  .desktop {
    display:none !important;
  }
}

.read-more {
  margin-bottom: 15px;
}


.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: #58595b;
}

#parkings-carousel {
  width: 680px;
}

#parkings-carousel, .carousel-inner {
  overflow: visible;
}

.carousel-control {
  background-image: none;
  width: 100px;

  .left {
    margin-left: -5%;
  }

  .right {

  }
}

ol.carousel-indicators {
  color: black;
}

p.caption {
  font-size: 1.1em;
  text-align: center;
  //font-style: italic;
  text-transform: uppercase;
  margin-top: 50px;
}

#video-player {
  height: 25vw;

}

.first {
  margin-top: 20px;
}

.small {
  font-size: 1.2em;
}

.hsmall {
  font-size: 1.4em;
}

h2 span {
  background-color: #f0f0f0;
}

.mobvideo.header-video{
  position: absolute;
  width: 100%;
  height: 65vh;
  //background-color: rgba(0,0,0,0.5);
}

.toarticle {
  font-weight: bolder ;
  font-size: 1.7em;
  padding-top: 30px;
}

.toarticle span {
  background-color: #f0f0f0;

}

.lid {
  font-style: italic;


  @media #{$brk-xlarge} {
    width: 45%;
    margin-left: 15%;
    margin-right: 5%;
  }


  @media #{$brk-spnarrow} {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

  }
}

.zag {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;

  @media #{$brk-xlarge} {
    width: 50%;
  }


  @media #{$brk-spnarrow} {
    width: 90%;
  }
}

.carousel {
  //margin-left: 20%;

  @media #{$brk-spnarrow} {
    margin-right: 5%;

  }
}

.mobgif {
  position: relative;
  width: 100%;
}

.tab {
  margin-bottom: 60px;
}