.chart-container, .control-axis {

  padding-top: 80px;
  padding-bottom: 25px;

  svg, text {
    font-family: "Open Sans", sans-serif;
  }

  svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  svg text::selection {
    background: none;
  }

  svg text {
    fill: $c_grey;
    stroke: none;
    font-style: italic;
  }

  svg {
    display: block;
    overflow: visible;
    shape-rendering: crispEdges;

    .axis path {
      display: none;
      //opacity: .1;
      //stroke-width: 1;
    }

    .axis text {

    }

    .axis text.caption {
    }

    .axis--x text {
      text-anchor: middle;

    }

    .tick line {
      stroke: $c_grey;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      //stroke-linejoin: round;
      shape-rendering: auto;
    }

    .line-right {
      stroke: rgb(140, 148, 148);
      stroke-opacity: 0.87;
    }

    .line-left {
      stroke: $c_yellow;
    }

    .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: rgb(140, 148, 148);
      stroke-opacity: 0.87;
    }

    .line-declared {
      stroke: $c_yellow;
      stroke-width: 2.5px;
    }

    path.line-annotation, #arrowhead {
      stroke: rgb(140, 148, 148);
      stroke-opacity: 0.87;
      fill: none;
      stroke-width: 1px;
      shape-rendering: auto;
    }

    circle {
      fill: rgb(140, 148, 148);
      fill-opacity: 0.87;
      shape-rendering: auto;
    }

    circle.touch {
      fill: #fff;
      fill-opacity: 1;
    }

    g.touchbar {
      line {
        stroke: rgb(140, 148, 148);
        fill: none;
        stroke-width: 1px;
        shape-rendering: crispEdges;
      }

      rect {
        fill: #fff;
        fill-opacity: 0;
        shape-rendering: auto;
      }

      //rect, line {
      //  cursor: col-resize;
      //}
    }

    g.touchbar.touch {
      line {
        stroke-width: 2px;
      }

      rect {
        fill: #fff;
        fill-opacity: 0;
        shape-rendering: auto;
      }

      rect, line {
        cursor: col-resize;
      }
    }

    .area-left {
      fill: $c_yellow;
      fill-opacity: 0.5;
    }

    .area-right {
      fill: $c_yellow;
      fill-opacity: 0.3;
    }

    .area-dashed {
      fill: rgb(140, 148, 148);
      fill-opacity: 0.1;
    }
  }


  .top-axis-container {
    margin-top: 6px;
  }

  .top-axis-left {
    .caption {
      margin-top: -8px;
    }
  }

  svg.top-axis {
    overflow: visible;
    text {
      text-anchor: start;
    }

    path, line {
      fill: none;
      stroke: none;
    }
  }
}

#arrowhead {
  stroke: rgb(140, 148, 148);
  stroke-opacity: 0.87;
  fill: none;
  shape-rendering: auto;
}

.chart-explanation {
  font-size: 1.5em;
  h5 {
    line-height: 1.5;
  }
}