/* ======== HEADER ======== */


.logo {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    float: left;
    margin: 15px 0px 0px 15px;
    z-index: 1000;
}

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000;
  right: 15px;
}

.fa-twitter,
.fa-facebook {
  background-color:rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer;
  &:hover{
    color: #ffffff;
  }
}



.header-container.desktop {

  .header-image {
    //width: 100%;
    //min-height: 450px;
    position: relative;

    img {
      width: 100%;
      background: url('../img/titul.jpg');
    }

    //background-size: cover;
    color: white;
  }

  //overflow: hidden;


  h1 {
    text-align: left;
    font-size: 2.7em;
    left: 8%;
    bottom: 7%;
    position: absolute;
    letter-spacing: 0.03em;
  }


  h2 {
    font-size: 2.0em;
    margin-left: 10%;
  }

  p.subtitle {
    width: auto;
    line-height: 1.7em;
    margin-left: 0;
    padding-top: 2vw;
    font-size: 1.7em;
    font-weight: 300;
  }

  .credits {

    h6 {
      font-size: 1.2em;
      line-height: 1.5em;
    }

    line-height: 1.5em;
    font-weight: 300;

    & span {
      font-weight: 700;
    }
    &.date {
      margin-top:1em;
      font-size:1.0em;
      font-weight:300;
    }
  }

  .header {
    position: relative;
    margin-top: 0;
    width: 100%;
    //height: 35vw;
    bottom: 0;
  }

  @media (min-width: 1281px) {
    .header {
      //background-color: #f0f0f0;
      //height: 450px;
    }

  }

  @media (min-width: 768px) and (max-width: 1280px) {
    .header {
      //background-color: #f0f0f0;

    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .mobheader {
      //margin-top: -7%;
    }
  }


  @media (max-width: 800px) {
    //  #header-text {
    //
    //    margin-left: 8%;
    //    margin-right: 2%;
    //    top: 12%;}
    //
    //    h3 {
    //      padding-top: 10px;
    //    }
  }

  .header-text {
    position: relative;
    //margin-left: 12%;
    //margin-right: 10%;
    padding-top: 80px;
  }

  video {
    margin-top: 20px;
    height: 25vw;
    padding: 0;
    min-width: 250px;
    object-fit: cover;
  }
}

.header-container.mobile {
  //font-size: 100px;

  color: #fff;

  max-height: 100vw;
  overflow: hidden;
  position: relative;

  //.inline-background {
  //  background: rgba(0, 0, 0, 0.5);
  //}

  video {
    position: relative;
    width: 100%;
  }

  .header-text-container {
    margin-top: 12vw;
    position: absolute;
    top: 0;

    background: rgba(0, 0, 0, 0.5);

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  h3 {
    span.myglitch{
      @include textGlitch("myglitch", 47, white, rgba(0, 0, 0, 0.25), red, blue, 450, 115);
    }

    text-align: left;
    //color: white;
    padding-bottom: 5vw;
    font-size: 5vw;
  }


  p.subtitle {
    font-size: 3.3vw;
    padding-bottom: 8vw;
  }

  .credits {

    h6 {
      font-size: 2.5vw;
      //color: white;
      line-height: 1.5em;
    }
  }

}

.header-image-caption {
  position: absolute;
  right: 2em;
  margin-top: 0.7em;
  font-style: italic;
  color: $c_grey;
  font-size: 1.2em;
  font-weight: 300;
  max-width: 60%;
}


.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}


/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
