.frame-container {
  position: relative;

  .frame, .first-frame {
    position: absolute;
    left: 0;
    top: 0;
  }

  svg.svg-frame-overlay {
    position: absolute;
    left: 0;
    top: 0;

    path {
      stroke: white;
      stroke-width: 2px;
      //stroke-opacity: 0.7;
      shape-rendering: auto;
    }
  }

}

